Samikshaxsd.xml

<?xml version="1.0" encoding="utf-8"?>
 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="people">
 <xs:complexType>
 <xs:sequence>
 <xs:element maxOccurs="unbounded" name="person">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="name" type="xs:string" />
 <xs:element name="surname" type="xs:string" />
 <xs:element name="telephone" type="xs:string" />
 </xs:sequence>
 <xs:attribute name="id" type="xs:unsignedShort" use="required" />
 <xs:attribute name="samu" type="xs:string" use="required" />
 </xs:complexType>
 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
 </xs:schema>